<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <nav>
        <div class="nav-left">
            <ul>
                <img src="../assets/images/logo.png" alt="logo">
                <li>
                    <a href="/">Home</a>
                </li>
    
                <li>
                    <a href="/blog">Blog</a>
                </li>
            </ul>
        </div>

        <div class="nav-right">
            <a href="/contact">Contact</a>
        </div>
    </nav>


    <div class="container">
        <div class="section">
            <div class="left">
                <div style="
                    border: 1px solid rgb(165, 164, 164); 
                    width: 350px; 
                    padding:20px;
                    border-radius: 8px;
                    box-shadow: 0px 0px 20px rgb(99, 98, 98)
                    ">
                    <img src="../assets/images/astronot.jpg" alt="Gambar" width="100%" style="border-radius: 5px;">
            
                    <h2>Samsul Rijal</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem animi pariatur ut tempore culpa quam suscipit nisi, nobis a aspernatur, sint architecto deserunt odio itaque beatae qui nostrum in facere?</p>
    
                    <table style="
                            border: 1px solid rgb(156, 156, 156); 
                            width: 100%; 
                            text-align:center;
                            border-collapse:collapse" 
                            cellpadding="5px" >
                        <tr style="background-color:rgb(155, 153, 153); color:white">
                            <th>Project Name</th>
                            <th>Year</th>
                        </tr>
                        <tr>
                            <td>Mobile App</td>
                            <td>2022</td>
                        </tr>
                    </table>
                </div>
            </div>
    
            <div class="right">
                <h2>What i do</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti non veritatis recusandae quos vero illo adipisci fugit in repellendus excepturi sit quibusdam, doloribus, animi quasi nisi vel odio enim consequatur.</p>
                
                <div class="skill-container">
                    <div>
                        <img src="../assets/images/astronot.jpg" alt="">
                        <h4>Frontend Developer</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias saepe nostrum non, aspernatur velit fugiat sed ex exercitationem?</p>
                    </div>

                    <div>
                        <img src="../assets/images/astronot.jpg" alt="">
                        <h4>Versio Control</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias saepe nostrum non, aspernatur velit fugiat sed ex exercitationem?</p>
                    </div>
                    
                    <div>
                        <img src="../assets/images/astronot.jpg" alt="">
                        <h4>Automated Deployment</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias saepe nostrum non, aspernatur velit fugiat sed ex exercitationem?</p>
                    </div>
                </div>

                <h2>Found Me On</h2>
                <div class="social-media">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>
        </div>
    </div>

</body>
</html>